<style>
  .whatsapp-fixed-btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 9999;
    background: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }
  .whatsapp-fixed-btn:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  }
  .whatsapp-fixed-btn svg {
    width: 32px;
    height: 32px;
    fill: #fff;
  }
</style>

{% assign whatsapp_number = "5511944563800" %}
{% assign whatsapp_message = "Bom dia, eu sou o valdimir!" %}

{% capture whatsapp_link %}
    {% if whatsapp_number | size < 12 %}
        https://wa.me/+55
    {%- else -%}
        https://wa.me/
    {%- endif -%}
    {{ whatsapp_number }}?text={{ whatsapp_message | url_encode }}
{% endcapture %}


<a
  class="whatsapp-fixed-btn"
  href="{{ whatsapp_link | strip | strip_newlines }}"
  target="_blank">
  <svg viewBox="0 0 32 32">
    <path d="M16 3C9.373 3 4 8.373 4 15c0 2.65.87 5.1 2.36 7.13L4 29l7.13-2.36A11.93 11.93 0 0 0 16 27c6.627 0 12-5.373 12-12S22.627 3 16 3zm0 22c-1.93 0-3.74-.56-5.27-1.53l-.38-.24-4.22 1.4 1.4-4.22-.24-.38A9.96 9.96 0 0 1 6 15c0-5.514 4.486-10 10-10s10 4.486 10 10-4.486 10-10 10zm5.29-7.71c-.29-.15-1.71-.84-1.97-.94-.26-.1-.45-.15-.64.15-.19.29-.74.94-.91 1.13-.17.19-.34.22-.63.07-.29-.15-1.23-.45-2.34-1.43-.86-.77-1.44-1.72-1.61-2.01-.17-.29-.02-.45.13-.6.13-.13.29-.34.43-.51.14-.17.19-.29.29-.48.1-.19.05-.36-.02-.51-.07-.15-.64-1.54-.88-2.11-.23-.56-.47-.49-.64-.5-.17-.01-.36-.01-.56-.01-.19 0-.5.07-.76.36-.26.29-1 1-.97 2.43.03 1.43 1.03 2.81 1.18 3 .15.19 2.03 3.1 4.93 4.23.69.27 1.23.43 1.65.55.69.22 1.32.19 1.81.12.55-.08 1.71-.7 1.95-1.37.24-.67.24-1.25.17-1.37-.07-.12-.26-.19-.55-.34z" />
  </svg>
</a>